{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}

<div class="container" >
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 mb-3 mb-md-0">
      <div class="row justify-content-center">
        <div class="col-auto">
          <img src="/images/logo.png" alt="My Website Logo" class="img-fluid">
        </div>
      </div>
      <div class="row mt-5">
        <div class="card shadow-sm border-top-0">
          <div class="card-body">
            <h2 class="fw-bolder text-center">Log In</h2>
            <hr>
            <form method='POST' action="{% url 'login' %}" class="form-group" novalidate>
              {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="mb-3">
                {% if form.is_bound %}
                  {% render_field field class="form-control is-invalid" placeholder=field.label %}
                {% else %}
                  {% render_field field class="form-control" placeholder=field.label %}
                    {% endif %}
              </div>
              {% endfor %}
              {% for error in form.non_field_errors %}
              <small class="text-danger">{{ error }}</small>
              {% endfor %}
              <hr>
              <div class="text-center">
                <button type="submit" class="btn text-white fw-bolder" style="background-color: #00BF63">Log In</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="card shadow-sm border-top-0 text-center">
          <div class="card-body">
            <h5 class="fw-light">Still do not have an account? <a href="{% url 'signup' %}" class="text-decoration-none" style="color: #00BF63">Sign Up</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}