{% extends "navbase.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
      <div class="row mt-5">
        <div class="col-12">
          <h3 class="fw-bolder text-start">{{ user.username }}, welcome to WeatherInBox!</h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="card shadow-sm border-top-0">
            <div class="card-body">
              <div class="row ms-2">
                <div class="col-12 col-md-8">
                  <div class="row mt-3">
                    <div class="col-12">
                      <h4 class="fw-bold">Manage your profile</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <h6 class="fw-light text-secondary">View and update personal data, manage account preferences, and privacy settings.</h6>
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-12">
                      <a class="btn text-white fw-bolder px-4" style="background-color: #00BF63" href="{% url 'profile' %}">View</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md mt-2 mb-3 d-none d-md-block">
                  <img src="/images/user.png" alt="User logo" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="card shadow-sm border-top-0">
            <div class="card-body">
              <div class="row ms-2">
                <div class="col-12 col-md-8">
                  <div class="row mt-3">
                    <div class="col-12">
                      <h4 class="fw-bold">Manage your subscriptions</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <h6 class="fw-light text-secondary">Create and view weather subscriptions, manage alerts' frequency.</h6>
                    </div>
                  </div>
                  <div class="row mt-1">
                    <div class="col-12">
                      <a class="btn text-white fw-bolder px-4" style="background-color: #00BF63" href="{% url 'subscription-list' %}">View</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md mt-2 mb-3 d-none d-md-block">
                  <img src="/images/notification.png" alt="User logo" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

