<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width shrink-to-fit=no' name='viewport'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
  </head>
  <body class="bg-light text-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="/images/logo.png" alt="My Website Logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}" style="color: #00BF63">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>

<style>
  body {
    font-family: 'Open Sans', sans-serif;
  }

  .btn-outline:hover {
  background-color: #00BF63;
  border-color: #00BF63;
  color: white !important;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script>
function cancelSubscription(subId, csrfToken) {
  const url = `/subscription/update/${subId}/`;
  const data = { is_active: false };
  const headers = {
    'Content-Type': 'application/json',
    'X-CSRFToken': csrfToken,
  };

  fetch(url, {
    method: 'POST',
    headers: headers,
    body: JSON.stringify(data),
  })
  .then(response => {
    if (response.status === 200) {
      let cancelButton = document.getElementById(`cancelBtn-${subId}`);
      cancelButton.outerHTML = `<button id="activateBtn-${subId}" type="button" class="btn fw-bolder btn-outline-danger"
                      onclick="activateSubscription('${subId}', '${csrfToken}')">Activate</button>`;
      let badgeActive = document.getElementById(`badgeActive-${subId}`);
      badgeActive.outerHTML = `<span id="badgeCancelled-${subId}" class="badge rounded-pill fw-bold bg-danger">Cancelled</span>`;
      let statusDiv = document.getElementById(`statusDiv-${subId}`);
        statusDiv.innerHTML = `<span class="badge rounded-pill" style="color: #00BF63; border: 1px solid #00BF63; background-color: #E5F8EF; margin-left: 5px;">✓ Completed</span>`
    }
  })
  .catch(error => console.error(error));
}

function activateSubscription(subId, csrfToken) {
  const url = `/subscription/update/${subId}/`;
  const data = { is_active: true };
  const headers = {
    'Content-Type': 'application/json',
    'X-CSRFToken': csrfToken,
  };

  fetch(url, {
    method: 'POST',
    headers: headers,
    body: JSON.stringify(data),
  })
  .then(response => {
    if (response.status === 200) {
      let activateButton = document.getElementById(`activateBtn-${subId}`);
      activateButton.outerHTML = `<button id="cancelBtn-${subId}" type="button" class="btn fw-bolder btn-outline-danger"
                      onclick="cancelSubscription('${subId}', '${csrfToken}')">Cancel</button>`;
      let badgeCancelled = document.getElementById(`badgeCancelled-${subId}`);
      badgeCancelled.outerHTML = `<span id="badgeActive-${subId}" class="badge rounded-pill fw-bold" style="background-color: #00BF63">Active</span>`;
      let statusDiv = document.getElementById(`statusDiv-${subId}`);
        statusDiv.innerHTML = `<span class="badge rounded-pill" style="color: #00BF63; border: 1px solid #00BF63; background-color: #E5F8EF; margin-left: 5px;">✓ Completed</span>`
    }
  })
  .catch(error => console.error(error));
}

function updateSubscription(subId, csrfToken) {
  const url = `/subscription/update/${subId}/`;
  const timesPerDayInput = document.getElementById(`timesPerDayInput-${subId}`);
  const data = { times_per_day: timesPerDayInput.value };
  const headers = {
    'Content-Type': 'application/json',
    'X-CSRFToken': csrfToken,
  };

  fetch(url, {
    method: 'POST',
    headers: headers,
    body: JSON.stringify(data),
  })
  .then(response => {
    if (response.status === 200) {
        let timesPerDayH6 = document.getElementById(`timesPerDay-${subId}`);
        timesPerDayH6.innerHTML = timesPerDayInput.value;
        let statusDiv = document.getElementById(`statusDiv-${subId}`);
        statusDiv.innerHTML = `<span class="badge rounded-pill" style="color: #00BF63; border: 1px solid #00BF63; background-color: #E5F8EF; margin-left: 5px;">✓ Completed</span>`
        }
  })
  .catch(error => console.error(error));
}


function deleteSubscription(subId) {
  const url = `/subscription/delete/${subId}/`;

  fetch(url, {
    method: 'GET',
  })
  .then(response => {
    if (response.status === 200) {
        let subRow = document.getElementById(`subRow-${subId}`);
        subRow.remove();
        let subModal = document.getElementById(`subModal-${subId}`);
        subModal.remove();
        }
  })
  .catch(error => console.error(error));
}
</script>